:root{
    --primary-color: #212F80;
    --secundary-color:#101840;
    --tertianary-color:#354CCC;
    --quaternary-color:#24348C;
    --quinary-color: #1A2666;
    --light-color: #ffffff;
    --dark-color: #00000000;
    --grayscale:#555555;

    --extra-small-size: 4px;
    --small-size: 8px;
    --medium-size: 16px;
    --large-size: 32px;
    --extra-large-size: 64px;
}

/* *{
    outline: 1px solid grey;
} */

.header{
    background: rgb(16,24,64);
    background: linear-gradient(90deg, rgba(16,24,64,1) 0%, rgba(33,47,128,1) 35%, rgba(53,76,204,1) 100%);
}

.header__name{
    color: var(--light-color);
    text-align: center;
}

.header__social-icons{
    color: var(--light-color);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

ion-icon{
    font-size: 20px;
}

.links .row{
    width: 18   0px;
}

@media(max-width:400px){
    .links{
        flex-direction: column;
    }
}